.btn_back {
	width: 220px;
	height: 50px;
	margin-top: 20px;
	font-family: "TmoneyRoundWindExtraBold", sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	/* letter-spacing: 3px; */
	font-weight: 100;
	color: #fff;
	/* background:linear-gradient(45deg, blueviolet, aquamarine); */
	background: transparent;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
  
.btn_back:hover {
	background: linear-gradient(-45deg, blueviolet, aquamarine);
	box-shadow: 0px 15px 20px rgba(33, 174, 209, 0.4);
	transform: translateY(-7px);
}

.btn_content {
	width: 250px;
	height: 50px;
	margin-top: 20px;
	font-family: "TmoneyRoundWindExtraBold", sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	/* letter-spacing: 3px; */
	font-weight: 100;
	color: #fff;
	/* background:linear-gradient(45deg, blueviolet, aquamarine); */
	background: transparent;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	/* transition: font-size 3s ease; */
	cursor: pointer;
	outline: none;
	animation-delay: 0.5s;
}
  
.btn_content:hover {
	background: linear-gradient(-45deg, blueviolet, aquamarine);
	box-shadow: 0px 15px 20px rgba(33, 174, 209, 0.4);
	transform: translateY(-7px);
}

.btn_clicked{
	color: black;
	background: linear-gradient(45deg, blueviolet, aquamarine);
}

/* 홈버튼 디자인 */
  body .btn-home button {
	margin: 0 auto 30px auto;
	display: inline-block;
	color: #1A578B;
	background: transparent;
	border: none;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
  }
  body .btn-home button:hover {
	background: transparent;
	color: #1A578B;
  }
  body .btn-home button:hover:before,
  body .btn-home button:hover:after {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	width: 100%;
  }
  body .btn-home button:before,
  body .btn-home button:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	width: 0px;
	height: 3px;
	background: linear-gradient(to right, #4dd6d6, rgba(33, 174, 209, 0.4));
	transition: all 0.4s ease;
  }
  body .btn-home button:after {
	top: inherit;
	left: inherit;
	bottom: 0;
	right: 0;
  }

  #hd-btn{
	color: #fff;
  }




  /* 음악 재생 버튼 디자인 */

  .btn_Play {
	width: 100px;
	height: 50px;
	margin-top: 20px;
	font-family: "TmoneyRoundWindExtraBold", sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	/* letter-spacing: 3px; */
	font-weight: 100;
	color: #fff;
	/* background:linear-gradient(45deg, blueviolet, aquamarine); */
	background: linear-gradient(-45deg, #1A578B, aquamarine);
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	/* transition: font-size 3s ease; */
	cursor: pointer;
	outline: none;
	animation-delay: 0.5s;
}
.btn_Play:hover {
	box-shadow: 0px 15px 20px rgba(33, 174, 209, 0.4);
	transform: translateY(-7px);
}

/* 리스트 디자인 */

.btn-group {
	position: relative;
	display: inline-block;
  }
.btn-group .btn {
	cursor: pointer;
	float: left;
	height: 40px;
	width: 160px;
	line-height: 40px;
	text-align: center;
	-webkit-user-select: none;
	transition: font-size 0.3s ease;
}
.btn-group :hover{
      color: #ffffff;
}
.btn-group .btn:active {
	font-size: 0.8em;
}
.btn-group svg {
	z-index: -1;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
}
.btn-group path {
	fill: none;
	stroke: #22fcba;
	stroke-dasharray: 334.9, 99999;
	transition: stroke-dashoffset 1s cubic-bezier(0, 0.8, 0.2, 1);
	stroke-width: 1;
}
.container {
	font-family: "Nanum Gothic";
	font-weight: 300;
	color: #fff;
	position: absolute fixed;
	width: 100%;
	top: 5px;
	left: 0;
	/* transform: translateY(-50%); */
}
.list_btn{
	left : 26%;
	top: 10px;
}
@media (max-width: 30em) {
	body {
	  zoom: 0.75;
	}
}
@media (max-width: 25em) {
	body {
	  zoom: 0.5;
	}
}