.play_music{
    z-index: 5;
    margin-left: 30%;
    font-family: "TmoneyRoundWindExtraBold";
}
.play_music :active{
    color: black;
}
#play_music_btn{
    display: none;
    animation-delay: 1s;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 60%;
    /* height: 100%; */
    background: transparent;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
    background: #ff6e40;
}
input[type="range"]::-ms-track {
    width: 60%;
    cursor: pointer;
    height: 9px;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
    background: #bdbdbd;
    border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #ff6e40;
}
input[type="range"]::-ms-fill-upper {
    background: #bdbdbd;
    border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #ff6e40;
}
input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-moz-range-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
input[type="range"]:hover::-moz-range-track {
    background: #ff6e40;
}