aside ::-webkit-scrollbar{
    display: none;
}

.album_main_sidebar{
    overflow: scroll;
    width: 220px;
    margin-left: 20px;
    position: fixed;
    display: none;
    top: 10%;
}

#ams{
    display: none;
}

.album_single_sidebar{
    overflow: scroll;
    width: 220px;
    margin-left: 20px;
    position: fixed;
    display: none;
    top: 10%;
}

#ass{
    display: none;
}