aside ::-webkit-scrollbar{
    display: none;
}

.album_main_sidebar{
    z-index: 10;
    overflow: scroll;
    width: 250px;
    height: 100%;
    margin-left: 20px;
    position: fixed;
    display: none;
    top: 11%;
    animation-delay: 0.5s;
}

#ams{
    display: none;
}

.album_single_sidebar{
    z-index: 10;
    overflow: scroll;
    width: 250px;
    margin-left: 20px;
    position: fixed;
    display: none;
    top: 11%;
    animation-delay: 0.5s;
}

#ass{
    display: none;
}